body {
    float: left;
    min-width: 100%;
}

.page-header.navbar .page-logo .logo-default {
    margin: 10px 0 0 0;
}

/*fill*/
/*.page-full-width .page-content {
    background : url("image/WEB MONEV.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.page-full-width .page-content {
    background-image:    url("image/WEB MONEV.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: top right;
}

body.login {
    background: #606c88;
    background: -moz-linear-gradient(-45deg, #606c88 0%, #3f4c6b 100%);
    background: -webkit-linear-gradient(-45deg, #606c88 0%, #3f4c6b 100%);
    background: linear-gradient(135deg, #606c88 0%, #3f4c6b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b', GradientType=1);
}

.user-login-5 .login-container > .login-content > h1 {
    color: whitesmoke;
}

.user-login-5 .login-container > .login-content p {
    color: whitesmoke;
}

.table th {
    vertical-align: middle !important;
}